@model IEnumerable<Student_Admission_System.Models.Student>

<h1>Students Board</h1>

<p>
    <!--<a asp-action="Create" class="btn btn-success">Apply</a>-->
    <ui class="nav-item">
        <a class="btn btn-success text-white" asp-area="" asp-controller="Students" asp-action="Register">Register</a>
    </ui>
</p>


<h2>Check Your Admission Status</h2>

<form asp-action="CheckStatus" method="post">
    <div class="form-group">
        <label for="applicationNumber">Application Number</label>
        <input type="text" name="applicationNumber" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Check Status</button>
</form>

@if (ViewBag.Message != null)
{
            <div class="alert alert-info mt-3">
        @ViewBag.Message
            </div>
}

